<nav class="navbar">
  <div class="nav-container">
    @if (showOptions) {
    <div class="nav-left">
      <a routerLink="/diets" routerLinkActive="active" class="nav-link">Dietas</a>
      <a routerLink="/progress" routerLinkActive="active" class="nav-link">Progreso</a>
      <a routerLink="/history" routerLinkActive="active" class="nav-link">Historial</a>
    </div>
    }

    <div class="logo-container">
      <div class="outer-circle">
        <div class="inner-circle">
          <img src="img/logo.png" alt="NutriMate Logo" class="logo">
        </div>
      </div>
    </div>

    @if (showOptions) {
    <div class="nav-right">
      <a routerLink="/news" routerLinkActive="active" class="nav-link">Noticias</a>
      <a routerLink="/profile" routerLinkActive="active" class="nav-link">Perfil</a>
    </div>
    }
  </div>
</nav>