<nav class="navbar">
  <div class="nav-container">
    <a routerLink="/diets" routerLinkActive="active" class="nav-link">Dietas</a>
    <a routerLink="/progress" routerLinkActive="active" class="nav-link">Progreso</a>
    <div class="ghost-logo"></div>
    <div class="logo-container">
      <div class="outer-circle">
        <div class="inner-circle">
          <img src="img/logo.png" alt="NutriMate Logo" class="logo">
        </div>
      </div>
    </div>
    <a routerLink="/history" routerLinkActive="active" class="nav-link">Historial</a>
    <a routerLink="/profile" routerLinkActive="active" class="nav-link">Perfil</a>
  </div>
</nav>
